h2 {
    color: red;
}
*{
    padding: 0;
    margin: 0px;
    box-sizing: border-box;
}
h6 {
    color: blue;
}
h3 {
    color: red;
}
h6 {
    color: red;
}
p{
    color: red;
}
.name {
    color: red;
}
a {
    display: inline-block;
    padding: 20px;
    border-radius: 20px;
    color: white;
    background-color: red;
}
.bijoy {
    color: red;
    text-decoration: none;
    list-style: none;
    display: inline-block;
    padding: 30px;
    background-color: blue;
    color: orange;
    border-radius: 50%;
}